<div id="wrap">
  <div class="container">
    <div class="content">
      <div class="logoContainer">
      <a href="/" class="errorPageTop"> <img src="assets/images/common/logo.png" alt="logo" class="errorPageLogo"></a>  
      </div>
      <h1 class="text-center errorHeader" data-aos="fade-in" data-aos-duration="1000"  data-aos-offset="200">404</h1>

      <h2 class="text-center errorHeaderSubHeader">We couldn't find the page you have requested...</h2>
      <br>
     <div class="errorTextContainer">
        <p class="errorPageText text-center" data-aos="fade-up" data-aos-duration="1000"  data-aos-offset="200">Sorry, we couldn't find the page you were looking for. The page was either not found or does not exist. Try refreshing the page or the logo above to go back to the Homepage.</p>
     </div>
    </div>
  </div>
</div>