.introduce > div{display:table;width:100%;table-layout:fixed}
.introduce .btn{width:200px;height:44px;border-radius:2px;background-color:#3a38f2;color:#fff}
.introduce .box{clear:both;position:relative;width:1024px;margin:0 auto;padding:0 202px 0 122px}
.introduce .thumb{position:absolute}
.introduce .thumb img{width:220px;height:350px}
.introduce .content{text-align:left}
.introduce .dsc{margin-top:15px;font-size:16px}
.introduce .h3_title{line-height:47px;font-size:37px}
.introduce .intro_1{height:394px;background:#000 url(../../../../assets/images/introduce/top_visual.jpg) no-repeat 50% 0;background-size:1024px 394px;color:#fff}
.introduce .intro_1 .inner{display:table-cell;text-align:center;vertical-align:middle}
.introduce .intro_1 .h2_title{margin-top:14px}
.introduce .intro_1 .dsc{margin-top:7px}
.introduce .intro_1 .btn{margin:90px auto 0; border: 0; font-weight: normal; font-size: 11px;}
.introduce .intro_2{height:182px}
.introduce .intro_2 .inner{display:table-cell;text-align:center;vertical-align:middle}
.introduce .intro_2 .h2_title{font-size:30px;color:#757575;}
.introduce .intro_2 .brand_list{display:table;width:1024px;table-layout:fixed;margin:14px auto 0}
.introduce .intro_2 .brand_list li{display:table-cell;margin-left:20px}
.introduce .intro_2 .brand_list li:first-child{margin-left:0}
.introduce .intro_2 .brand_list li img{width:140px;height:60px}
.introduce .intro_3{height:651px;background:#fef2e6;margin-top:2.5em;}
.introduce .intro_3 .inner{display:table-cell;text-align:center;vertical-align:middle}
.introduce .intro_3 .dsc{margin-top:3px;font-size:18px;color:#757575}
.introduce .intro_3 .big_thumb{margin-top:26px}
.introduce .intro_4{height:490px;text-align:center}
.introduce .intro_4 .h2_title{display:inline-block;margin-top:45px;line-height:32px}
.introduce .intro_4 .thumb{top:-50px;left:124px}
.introduce .intro_4 .content{margin:80px 0 0 250px}
.introduce .intro_5{height:420px;background:#eaf1f6}
.introduce .intro_5 .thumb{top:-90px;right:202px}
.introduce .intro_5 .content{margin:130px 260px 0 0;text-align:right}
.introduce .intro_6{height:420px}
.introduce .intro_6 .thumb{top:-90px;left:124px}
.introduce .intro_6 .content{margin:130px 0 0 250px}
.introduce .intro_7{clear:both;height:531px;background:#f3efef}
.introduce .intro_7 .thumb{top:-107px;right:202px}
.introduce .intro_7 .content{margin:150px 260px 0 0;text-align:right}
.introduce .intro_7 .dsc{margin-top:31px}
.introduce .intro_7 .btn_area .btn{margin:144px 0 0 270px; ; border: 0; font-weight: normal; font-size: 11px;}
.divider{width:60px;background:#000;border-radius: 20px;height:3px;margin: 0 auto;margin-top:1rem;}